.wrap {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.idea hr {
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #bcf443, transparent);
    margin-top: 5px;
}

.card {
    width: 280px;
    height: 280px;
    margin: 30px;
    /* box-shadow: 0px 0px 10px #666; */
}

.card img {
    width: 100%;
}

.card .txt {
    padding: 20px;
}

h5 {
    font-size: 32px;
}

.card {
    overflow: hidden;
}

.card {
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.card:hover {
    transform: scale(1.2, 1.2);
}