body {
    font-size: 15px;
    letter-spacing: 1px;
    color: #1d1d1d;
    font-family: 'Jacques Francois', Arial, STHeiti, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.FoodGroup {
    display: flex;
    margin: 30px;
    position: relative;
}

.Food_img {
    width: 500px;
    height: 335px;
    z-index: 5;
}

.Food_txt {
    margin-top: 45px;
    font-weight: bold;
}

.Food_txt_title {
    background-color: #bcf443;
    font-size: 32px;
    width: 380px;
    text-align: center;
    margin-left: -15px;
    position: absolute;
}

.Food_txt_list {
    display: flex;
    margin-top: 60px;
    font-size: 17px;
    line-height: 300%;
    margin-left: 40px;
}

.FoodGroupleft {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    position: relative;
}

.Food_txt_list_left {
    display: flex;
    margin-top: 60px;
    font-size: 17px;
    line-height: 300%;
    margin-right: 40px;
}

.Food_txt_title_left {
    background-color: #bcf443;
    font-size: 32px;
    width: 380px;
    text-align: center;
    margin-left: -33px;
    position: absolute;
}

@media screen and (max-width:768px) {
    .Food {
        width: 414px;
        margin: 0 auto;
    }

    .FoodGroupleft img {
        display: none;
    }

    .FoodGroup img {
        display: none;
    }

    .FoodGroup {
        flex-direction: column;
        align-items: center;
    }

    .Food_txt_title {
        margin-left: 0;
        position: initial;
    }

    .Food_txt_list {
        margin-top: 30px;
        justify-content: center;
        margin-left: 0;
    }

    .FoodGroupleft {
        flex-direction: column;
        align-items: center;
    }

    .Food_txt_title_left {
        margin-left: 0;
        position: initial;
    }

    .Food_txt_list_left {
        margin-top: 30px;
        justify-content: center;
        margin-right: 0;
    }

    .Food_img {
        height: 0;
    }
}

@media screen and (min-width:1200px) {
    .Food {
        width: 1200px;
        margin: 0 auto;
    }
}