a {
    text-decoration: none;
}

body {
    letter-spacing: 1px;
    color: #1d1d1d;
    font-family: Arial, STHeiti, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
}

/* news area */
.news {
    margin: 30px;
}

.newstitle h2 {
    text-align: center;
    font-size: 26px;
}

.newstitle hr {
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #bcf443, transparent);
    margin-top: 5px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    width: 280px;
    margin: 30px;
    box-shadow: 0px 0px 10px #666;
}

.card img {
    width: 100%;
}

.card .txt {
    padding: 20px;
}

.card:hover {
    transition: all 1s ease-out;
    transform: scale(1.2, 1.2);
}

.txt p {
    line-height: 200%;
    font-weight: 700;
    text-align: justify;
    color: #222;
}

.txt h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #222;
}

.news .pic img {
    height: 200px;
}

/* news area */

/* main area */
.mainArea {
    background-image: url(../image/dogbackground.png);
    background-position: center;
    background-size: 100% 95%;
    display: flex;
    flex-direction: column;
    height: 1420px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.mainArea img {
    display: block;
}

.main_txt {
    width: 300px;
    text-align: justify;
    margin: 120px 80px 80px 80px;
    font-weight: 700;
}

.main_txt p {
    line-height: 30px;
    margin-top: 20px;
}

/* main area */

/* main area max768px */
.mainArea_wrap {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.mainArea_card {
    width: 280px;
    margin: 30px;
}

.mainArea_card img {
    width: 100%;
}

.mainArea_card .txt {
    padding: 20px;
}

.mainArea_txt p {
    line-height: 200%;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
}

.mainArea_txt h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 3px;
}

/* main area max768px */

/* hot game */
.hotgame_group {
    padding: 50px;
}

.hotgame_group h4 {
    text-align: center;
    padding-top: 20px;
}

.hotgame img {
    height: 200px;
}

.hotgame_txt {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.GameType {
    font-size: 10px;
    color: #fff;
    background-color: #000;
    height: 25px;
    margin: 5px;
    width: 60px;
    text-align: center;
    line-height: 220%;
    font-weight: 700;
}

.GameCondition {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}



.owl-prev,
.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-prev {
    left: -60px;
}

.owl-next {
    right: -60px;
}

.owl-prev i,
.owl-next i {
    transform: scale(2, 5);
    color: #ccc;
}

/* .owl-prev, .owl-next {
            display: none !important;
          } */

.owl-carousel:hover .owl-prev {
    display: block !important;
}

.owl-carousel:hover .owl-next {
    display: block !important;
}

.owl-prev span,
.owl-next span {
    font-size: 50px;
}

.owl-prev:hover {
    background-color: transparent !important;
    color: black !important;
}

.owl-next:hover {
    background-color: transparent !important;
    color: black !important;
}

/* hot game */





@media screen and (min-width: 1200px) {
    .news {
        width: 1200px;
        margin: auto;
    }

    .hotgame {
        width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .mainArea {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mainArea_wrap {
        display: none;
    }
}